@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 222.2 84% 4.9%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
}

body {
  color: hsl(var(--primary));
  background: hsl(0 0% 100%);
}

